html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
* {
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
 }

@font-face {
    font-family: The Braggest;
    src: url(../fonts/braggest/The_Braggest_Demo.woff);
}

.navbar-brand {
    font-family: The Braggest, serif;
    font-size: 2.5em;
}

path {
    pointer-events: all;
}

.pathHover {
    stroke-width: 35px !important;
    stroke: transparent !important;
}

body {
	margin: 0;
	overflow: hidden;
    background-color: #000000;
}

.content {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.castell {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: #000;
    top: 0;
    right: 0;
    z-index: 9;
}

#home {
    font-size: 4em;
    color: #e3e3e3;
    display: none;
    position: absolute;
    top: 90%;
    left: 90%;
    z-index: 601;
}

#ajuda {
    color: #e3e3e3;
    margin-right: 0.4em;
    font-size: 2.7em;
    margin-top: 0.14em;
}

#fullscreen {
    color: #e3e3e3;
    margin-right: 0.3em;
    font-size: 2.5em;
    margin-top: 0.2em;
}

#home:hover, #ajuda:hover, #fullscreen:hover {
    cursor: pointer;
    color: #fff;
}

.btnsaltar {
    position: absolute;
    top: 90%;
    left: 90%;
    z-index: 601;
    display: none;
}

.btnEnter {
    position: absolute;
    font-size:30px;
    z-index: 601;
    display: none;
    top: 50vh !important;
    left: 10vw !important;
    color: white;
    text-align: center;
}
.btnEnter:hover {
    cursor: pointer;
}
.videoFS {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
}
.portada {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 48vh;
    height: 48vh;
	z-index: 600;
}

.portadaFull {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 550;

	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.ajudaPag {
	position: fixed;
	width: 100%;
	height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #303030;
    color: #e3e3e3;
	z-index: 100;
}


.ajudaPag.row {
    margin-bottom: 20px;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.creditsPag {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 100;
    color: #303030;
	background-image: url("../assets/texturaBlanca.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.textoPags {
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 7%;
	text-align: center;
}
.textoPagsc {
	width: 40%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 30%;
	top: 10%;
	text-align: center;
}
.columna {
	width: 50%;
	position: relative;
	display: inline-flex;
}
.columnaGrande {
	width: 40%;
	min-height: 100%;
	left: 10%;
	position: relative;
	display: inline-flex;
	overflow-x: auto;
}
/*
######################################################
######################################################
##########                                ############
##########     ANIMACIÓ BOTÓ SALTAR       ############
##########                                ############
######################################################
######################################################
*/
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 4s infinite;
    -moz-animation: flickerAnimation 4s infinite;
    -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
}
/*
######################################################
######################################################
##########                                ############
##########        ANIMACIÓ CASTELL        ############
##########     (per ordre d'aparença)     ############
######################################################
######################################################
*/
.baixos3 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 5s linear forwards;
}

.linBai3 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 1s linear forwards 0.6s;
}

.baixos4 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 4s linear forwards 1s;
}

.linBai4 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 1s linear forwards 1.8s;
}

.baixos1 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 3s linear forwards 2.5s;
}

.linBai2 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 1s linear forwards 3s;
}

.baixos2 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 4s linear forwards 3.5s;
}

.linBai1 {
    stroke-linecap:round;
    stroke:#e3e3e3;
    stroke-width:6;
    animation: dash 1s linear forwards 4s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

/*
######################################################
######################################################
##########                                ############
##########           TOOLTIPS             ############
##########                                ############
######################################################
######################################################
*/

#tt {
    position:absolute;
    display:block;
}
#tttop {
    display:block;
    overflow:hidden;
}
#ttcont {
    display:block;
}
#ttbot {
    display:block;
    overflow:hidden;
}


.tooltipster-sidetip.tooltipster-alegria .tooltipster-box {
    border: 5px solid #FFC14D;
    border-radius: 5px;
    background: #222;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}

.tooltipster-sidetip.tooltipster-alegria .tooltipster-content {
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    padding: 20px;
    color: #e3e3e3;
}

.tooltipster-sidetip.tooltipster-alegria .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-alegria.tooltipster-right .tooltipster-arrow {
    height: 14px;
    margin-left: 4px;
    margin-top: -16px;
    width: 5px;
}

.tooltipster-sidetip.tooltipster-alegria .tooltipster-arrow-background {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #FFC14D;
    top: 1px;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #FFC14D;
    left: -1px;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #FFC14D;
    left: 1px;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #FFC14D;
    top: -1px;
}

.tooltipster-sidetip.tooltipster-alegria .tooltipster-arrow-border {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #FFC14D;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #FFC14D;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #FFC14D;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #FFC14D;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
}

.tooltipster-sidetip.tooltipster-alegria.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
}


.tooltipster-sidetip.tooltipster-rabia .tooltipster-box {
    border: 5px solid #FF5A4D;
    border-radius: 5px;
    background: #222;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}

.tooltipster-sidetip.tooltipster-rabia .tooltipster-content {
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    padding: 20px;
    color: #e3e3e3;
}

.tooltipster-sidetip.tooltipster-rabia .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-rabia.tooltipster-right .tooltipster-arrow {
    height: 14px;
    margin-left: 4px;
    margin-top: -16px;
    width: 5px;
}

.tooltipster-sidetip.tooltipster-rabia .tooltipster-arrow-background {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #FF5A4D;
    top: 1px;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #FF5A4D;
    left: -1px;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #FF5A4D;
    left: 1px;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #FF5A4D;
    top: -1px;
}

.tooltipster-sidetip.tooltipster-rabia .tooltipster-arrow-border {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #FF5A4D;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #FF5A4D;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #FF5A4D;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #FF5A4D;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
}

.tooltipster-sidetip.tooltipster-rabia.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
}


.tooltipster-sidetip.tooltipster-por .tooltipster-box {
    border: 5px solid #9D43C7;
    border-radius: 5px;
    background: #222;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}

.tooltipster-sidetip.tooltipster-por .tooltipster-content {
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    padding: 20px;
    color: #e3e3e3;
}

.tooltipster-sidetip.tooltipster-por .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-por.tooltipster-right .tooltipster-arrow {
    height: 14px;
    margin-left: 4px;
    margin-top: -16px;
    width: 5px;
}

.tooltipster-sidetip.tooltipster-por .tooltipster-arrow-background {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #9D43C7;
    top: 1px;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #9D43C7;
    left: -1px;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #9D43C7;
    left: 1px;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #9D43C7;
    top: -1px;
}

.tooltipster-sidetip.tooltipster-por .tooltipster-arrow-border {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #9D43C7;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #9D43C7;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #9D43C7;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #9D43C7;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
}

.tooltipster-sidetip.tooltipster-por.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
}


.tooltipster-sidetip.tooltipster-tristesa .tooltipster-box {
    border: 5px solid #3DABBF;
    border-radius: 5px;
    background: #222;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
}

.tooltipster-sidetip.tooltipster-tristesa .tooltipster-content {
    font-size: 14px;
    font-style: italic;
    line-height: 1em;
    padding: 20px;
    color: #e3e3e3;
}

.tooltipster-sidetip.tooltipster-tristesa .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-tristesa.tooltipster-right .tooltipster-arrow {
    height: 14px;
    margin-left: 4px;
    margin-top: -16px;
    width: 5px;
}

.tooltipster-sidetip.tooltipster-tristesa .tooltipster-arrow-background {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #3DABBF;
    top: 1px;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #3DABBF;
    left: -1px;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #3DABBF;
    left: 1px;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #3DABBF;
    top: -1px;
}

.tooltipster-sidetip.tooltipster-tristesa .tooltipster-arrow-border {
    border: 9px solid transparent;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #3DABBF;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #3DABBF;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #3DABBF;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #3DABBF;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-bottom .tooltipster-arrow-uncropped {
    top: -9px;
}

.tooltipster-sidetip.tooltipster-tristesa.tooltipster-right .tooltipster-arrow-uncropped {
    left: -9px;
}
