html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

* {
     box-sizing: border-box;
 }
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.parent {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

.child {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.iconSocial, .iconSocial:visited, .iconSocial:hover{
	color: white;
    font-size: 2.5vh;
	border:none;
	outline:none;
	text-decoration:none;
	-webkit-tap-highlight-color: white;
	padding-right: 9px;
}
video {
	object-fit: initial;
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
    font-size: 2.5vh;
}

.footerespacio {
	width: 100%;
	height: 3%;
	top: 388%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #717171;
	z-index: 10;
}
.intro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.pis1{
    margin-top: 500px;
    margin-left: 792px;
}
.pis2{
    margin-top: 410px;
    margin-left: 792px;
}
.pis3{
    margin-top: 320px;
    margin-left: 792px;
}
.pis {
    background: url("../img/pis.png") no-repeat;
    background-position: center center;
    display: none;
    width: 275px;
    height: 273px;
    float: left;
    position: absolute;
}
.boletaA {
    width: 3.9vw !important;
    height: 7vh !important;
    background-image: url("../img/Bola-A.png") !important;
}
.boletaB {
    width: 2.1vw !important;
    height: 3.8vh !important;
    background-image: url("../img/Bola-B.png") !important;
}
.boletaC {
    width: 3.4vw !important;
    height: 6vh !important;
    background-image: url("../img/Bola-C.png") !important;
}
.boletaD {
    width: 1.7vw !important;
    height: 3vh !important;
    background-image: url("../img/Bola-D.png") !important;
}
.boletaE {
    width: 2.7vw !important;
    height: 4.7vh !important;
    background-image: url("../img/Bola-E.png") !important;
}

.boleta {
    border: 1px solid red;
    display: none;
    background: no-repeat center;
    position: absolute;
    z-index: 600;
    background-size: cover;
}
.boleta:hover {
    cursor: pointer;
}
.castell {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    z-index: 9;
    background-size: 100%;
    background-image: url("../img/pinya.png");
    background-position: center center;
}
.anxeneta {
    top: 47vh;
    left: 54vw;
}
.aixecador {
    /* top: 87%; */
    /* left: 47%; */
    top: 95vh;
    left: 47vw;
}
.dosos1 {
    /* top: 61%; */
    /* left: 33%; */
    top: 61.2vh;
    left: 32vw;
}
.dosos2 {
    /* top: 61%; */
    /* left: 61%; */
    top: 53vh;
    left: 62vw;
}
.tersos1 {
    /* top: 61%; */
    /* left: 35%; */
    top: 61vh;
    left: 34vw;
}
.tersos2 {
    /* margin-top: 414px; */
    /* margin-left: 914px; */
    top: 50vh;
    left: 53vw;
}
.tersos3 {
    /* margin-top: 606px; */
    /* margin-left: 1141px; */
    top: 55vh;
    left: 60vw;
}
.tersos4 {
    /* margin-top: 824px; */
    /* margin-left: 892px; */
    top: 89vh;
    left: 46.5vw;
}
.segons1 {
    /* margin-top: 609px; */
    /* margin-left: 691px; */
    top: 61vh;
    left: 36vw;
}
.segons2 {
    /* margin-top: 432px; */
    /* margin-left: 914px; */
    top: 51vh;
    left: 52vw;
}
.segons3 {
    /* margin-top: 604px; */
    /* margin-left: 1115px; */
    top: 58vh;
    left: 58vw;
}
.segons4 {
    /* margin-top: 797px; */
    /* margin-left: 892px; */
    top: 84vh;
    left: 46.5vw;
}
.baixos1 {
    /* margin-top: 610px; */
    /* margin-left: 719px; */
    top: 61vh;
    left: 38vw;
}
.baixos2 {
    /* margin-top: 449px; */
    /* margin-left: 914px; */
    top: 52vh;
    left: 51vw;
}
.baixos3 {
    /* margin-top: 618px; */
    /* margin-left: 1082px; */
    top: 61vh;
    left: 56vw;
}
.baixos4 {
    /* margin-top: 777px; */
    /* margin-left: 892px; */
    top: 78vh;
    left: 46.5vw;
}
.footer {
	width: 100%;
    height: 3vh;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 500;
	color: white;
	background-color: #878787;
	/*background-image: url("../assets/footer.png");*/

	background-repeat: no-repeat;
	background-size: 100% 100%;
}



*:fullscreen
*:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
	overflow: auto !important;
}

.fullScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}
.videoFS {
    object-fit: initial;
    width: 100%;
    height: 100%;
}

.footerIzq {
    position: absolute;
    display: inline-flex;
}

.footerDer {
	position: absolute;
	display: inline-flex;
	left: 60%;
	width: 13%;
}
.footerDerDer {
	position: absolute;
	display: inline-flex;
	right: 20px;
	/* width: 25%; */
}
.footer-distibuted {
	height: auto;
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: black;
	margin: 0 auto;
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.portada {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 45%;
	left: 50%;
	width: 460px;
	height: 460px;
	z-index: 600;
	background-image: url("../assets/logo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.portadaFull {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 550;
	/*background-image: url("../assets/tituloFull.png");*/

	background-repeat: no-repeat;
	background-size: 100% 100%;
}
@-webkit-keyframes scaleAnimation {
	0% {
		-webkit-transform: scale(0.5);
	}
	10% {
		-webkit-transform: scale(1);
	}
	20% {
		-webkit-transform: scale(0.5);
	}
	30% {
		-webkit-transform: scale(1);
	}
	40% {
		-webkit-transform: scale(0.5);
	}
	50% {
		-webkit-transform: scale(1);
	}
	60% {
		-webkit-transform: scale(0.5);
	}
	70% {
		-webkit-transform: scale(1);
	}
	80% {
		-webkit-transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
.proyectoPag {
	position: fixed;
	width: 100%;
	height: 97%;
	top: 0;
	right: 0;
	z-index: 100;
	background-image: url("../assets/texturaBlanca.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.creditosPag {
	position: fixed;
	width: 100%;
	height: 97%;
	top: 0;
	right: 0;
	z-index: 100;
	background-image: url("../assets/texturaBlanca.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.elProyecto:hover {
	cursor: pointer;
}
.losCreditos:hover {
	cursor: pointer;
}
.textoPags {
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 7%;
	text-align: center;
}
.textoPagsc {
	width: 40%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 30%;
	top: 10%;
	text-align: center;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.columna {
	width: 50%;
	position: relative;
	display: inline-flex;
}
.columnaGrande {
	width: 40%;
	min-height: 100%;
	left: 10%;
	position: relative;
	display: inline-flex;
	overflow-x: auto;
}
.videoFinal {
	z-index: 700;
	position: fixed;
	top: 0;
	left: 0;
	height: 97%;
	width: 100%;
}
